@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #34495e;
  --color-secondary: #ecf0f1;
  --color-tertiary: #2ecc71;
  --color-blue: #01aff1;
}

body {
  font-family: 'Lato';
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

.hidden {
  display: none !important;
}

.settings {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 590px;
  padding: 30px;
  background-color: var(--color-primary);
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.settings-form {
  text-align: center;
}

.settings-title {
  font-size: 30px;
  margin-bottom: 20px;
}

.settings-close {
  position: absolute;
  top: 12px;
  right: 20px;
  font-size: 50px;
  cursor: pointer;
  border: none;
  background: none;
  color: var(--color-secondary);
}

.form-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  font-size: 20px;
  margin-bottom: 5px;
}

.form-group > label {
  justify-self: end;
  align-self: center;
}

.form-group > input {
  width: 60px;
  padding: 0px 0px 0px 5px;
  justify-self: start;
  align-self: center;
  font-size: 20px;
  border: 1px solid var(--color-primary);
  border-radius: 5px;
  background-color: var(--color-secondary);
}

input[type='number']:focus {
  outline: 2px solid var(--color-blue); /* oranges! yey */
  color: var(--color-primary);
  filter: darkness(1.5);
}

input[type='number']:disabled {
  background: #777;
}

/* Hide Arrows */
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='checkbox'] {
  display: block;
}

.btn {
  font-weight: 700;
  font-size: 30px;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background: var(--color-blue);
  color: var(--color-secondary);
  cursor: pointer;
  margin-top: 20px;
}

/* .btn:hover {
  transform: scale(1.1);
} */

.workout-timer {
  width: 640px;
  margin: 10px auto;
  display: grid;
  grid-template-rows: 240px, 120px, 120px;
  grid-gap: 30px;
  position: relative;
  align-items: center;
  justify-items: center;
}

.settings-btn {
  font-size: 30px;
  justify-self: end;
}

.current-round {
  font-size: 200px;
  text-align: center;
}
.current-round-message {
  font-size: 50px;
}

.timer-details {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  font-size: 45px;
  justify-items: center;
}
.elapsed {
  justify-self: start;
  text-align: start;
}
.intervals {
  justify-self: center;
  text-align: center;
}
.remaining {
  justify-self: end;
  text-align: end;
}

.description {
  font-size: 25px;
}

.buttons {
  font-size: 50px;
  display: grid;
  grid-template-columns: 1fr 4fr 4fr 1fr;
  width: 100%;
  justify-items: center;
}

i:hover {
  cursor: pointer;
}

.play-pause {
  display: inline-block;
}

.display-rounds {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 3px;
  width: 100%;
}

.box {
  height: 20px;
  position: relative;
}

.box-info {
  width: 100px;
  visibility: hidden;
  background-color: var(--color-blue);
  position: absolute;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  top: 120%;
  left: 50%;
  white-space: pre-line;

  transform: translateX(-50%);
}

.box:hover .box-info {
  visibility: visible;
}

.box--warm-up {
  background-color: #777;
}

.box--round {
  background-color: var(--color-secondary);
}

.box--active {
  background-color: var(--color-tertiary) !important;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}
