@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #34495e;
  --color-secondary: #ecf0f1;
  --color-tertiary: #2ecc71;
  --color-quaternary: #ecf0f1;
  --color-info: #01aff1;
  --input-outline: #000;
}

body {
  font-family: 'Lato';
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

.hidden {
  display: none;
}

.workout-timer {
  width: 640px;
  margin: auto;
  display: grid;
  grid-template-rows: 240px, 120px, 120px;
  grid-gap: 30px;
  position: relative;
  align-items: center;
  justify-items: center;
}

.current-round {
  font-size: 200px;
}

.timer-details {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  font-size: 45px;
  justify-items: center;
}
.elapsed {
  justify-self: start;
  text-align: start;
}
.intervals {
  justify-self: center;
  text-align: center;
}
.remaining {
  justify-self: end;
  text-align: end;
}

.description {
  font-size: 25px;
}

.buttons {
  font-size: 50px;
  display: grid;
  grid-template-columns: 1fr 4fr 4fr 1fr;
  width: 100%;
  justify-items: center;
}

i:hover {
  cursor: pointer;
}

.play-pause {
  display: inline-block;
}

.display-rounds {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 3px;
  width: 100%;
}

.box {
  height: 20px;
}

.box--warm-up {
  background-color: #777;
}

.box--round {
  background-color: var(--color-secondary);
}

.box--active {
  background-color: var(--color-tertiary) !important;
}
